@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(campo.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffff;
  text-align: center;
  padding: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  background-color: rgb(13, 33, 83);
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  color: #ffff;
  text-align: justify;
}

p {
  margin-top: 50px;
}

label {
  color: #ffff;
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(17, 62, 17);
  color: #ffff;
  transition: 0.7s;
}
